
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Server-side inference
  link(rel='stylesheet' href='')
#backend
#status
video#myVideo(autoplay='' muted='' playsinline='')
canvas#myCanvas(width='500' height='500' style='display: none;')
script
  include canvas.js