doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Client-side inference
  link(rel='stylesheet' href='')
script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.1.0')
script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@2.0.4')
table(border='1')
  tr
    td Image
    td Model
    td Inference
    td Backend
    td Model load (once)
    td Inference latency
    td Predictions
  tr
    td client
    td client
    td client
    td#backend
    td#modelLoad
    td#latency
    td#status

video#myVideo(autoplay='' muted='' playsinline='')
canvas#myCanvas(width='500' height='500' style='display: none;')
script
  include client_inference.js