extends layout

block content
  h1 Inference with Tensorflow.js/MobileNet
  ul
    li
      a(href="/inference") Client-side inference
    li
      a(href="/inference/canvas") Server-side inference (CPU)
